﻿@model Entidade.Usuario
@{
    ViewBag.Title = "Index";
}
<h2>Autenticação</h2>
Bem-Vindo
@using (Html.BeginForm("Logar", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Senha)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Senha)
        @Html.ValidationMessageFor(model => model.Senha)
    </div>
    <input type="submit" value="Logar" />
}